.container {
  display: flex;
  height: 25px;

  input {
    height: 100%;
    padding: 5px;

    border-width: 0;
  }

  button {
    height: 100%;
    padding: 5px;

    border-width: 0;

    color: black;
    background-color: #a29e87;

    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    cursor: pointer;
  }
}